In [130]:
import numpy as np

## Q#1: Create x array with elements equal to 1.

In [131]:
# Create x array with elements equal to 1
x = np.ones((4,4))
print("\nQ1: Array x:")
print(x)

Q1: Array x:
[[1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]]

## Q#2: Create y array with elements equal to 0.

In [132]:
# Create y array with elements equal to 0
y = np.zeros((4,4))
print("\nQ2: Array y:")
print(y)

Q2: Array y:
[[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]

## Q#3: Add x and y arrays.

In [133]:
# Add x and y arrays
t = x + y
print("\nQ3: Array t (x + y):")
print(t)

Q3: Array t (x + y):
[[1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]]

## Q#4: Print x array characteristics (e.g: dimension, shape, size, type).

In [134]:
# Print x array characteristics
print("\nQ4: Characteristics of x Array:")
print("- Shape =", x.shape)
print("- Number of Dimensions =", x.ndim)
print("- Size =", x.size)
print("- Type =", x.dtype)

Q4: Characteristics of x Array:
- Shape = (4, 4)
- Number of Dimensions = 2
- Size = 16
- Type = float64

## Q#5: Create a 2D array "called w" as the following:

|       |          |
| ----- | -------- |
| 11    | 12       |
| 13    | 14       |
| 15    | 16       |

In [135]:
# Create a 2D array "w"
w = np.array([[11, 12],[13, 14], [15, 16]])
print("\nQ5: Array w:")
print(w)

Q5: Array w:
[[11 12]
 [13 14]
 [15 16]]

## Q#6: Create z array contains the numbers from 1 to 3.

In [136]:
# Create z array containing numbers from 1 to 3
z = np.arange(1,4)
print("\nQ6: Array z:")
print(z)

Q6: Array z:
[1 2 3]

## Q#7: Combine the arrays z and w in horizontal way then save it in a new variable "newArray".

In [137]:
# Combine arrays w and z horizontally
z = z.reshape((3, 1)) # Reshape z to match the dimensions for hstack
newArray = np.hstack((w,z))
print("\nQ7: Combined Array newArray (w and z):")
print(newArray)

Q7: Combined Array newArray (w and z):
[[11 12  1]
 [13 14  2]
 [15 16  3]]

## Q#8: Print all elements of "newArray" using the loop.

In [138]:
for array in newArray: 
    print(array)

[11 12  1]
[13 14  2]
[15 16  3]

In [139]:
# Print all elements of "newArray" using the loop
print("\nQ8: Elements of newArray:")
for row in newArray:
    for element in row:
        print(element, end=" ")
    print()

Q8: Elements of newArray:
11 12 1
13 14 2
15 16 3

## Q#9: Reverse the columns and rows of "newArray".

In [140]:
# Reverse the columns and rows of "newArray"
transposedArray = newArray.T
print("\nQ9: Transposed Array of newArray:")
print(transposedArray)

Q9: Transposed Array of newArray:
[[11 13 15]
 [12 14 16]
 [ 1  2  3]]

## Q#10: Decrement all elements of "newArray" with 1.

In [141]:
# Decrement all elements of "newArray" by 1
newArray -= 1
print("\nQ10: Decremented Array newArray:")
print(newArray)

Q10: Decremented Array newArray:
[[10 11  0]
 [12 13  1]
 [14 15  2]]

## Q#11: Find smallest and biggest values in "newArray".

In [142]:
# Find smallest and biggest values in "newArray"
print("\nQ11: Smallest and Biggest Values in newArray:")
print("Smallest Value =", newArray.min())
print("Biggest Value = ", newArray.max())

Q11: Smallest and Biggest Values in newArray:
Smallest Value = 0
Biggest Value =  15

## Q#12: Print the first row of "newArray" using indexing.

In [143]:
# Print the first row of "newArray" using indexing
first_row = newArray[0]
print("\nQ12: First Row in newArray:")
print(first_row)

Q12: First Row in newArray:
[10 11  0]

## Q#13: Print the number equals 12 of "newArray" using indexing.

In [144]:
# Print the number equals 12 of "newArray" using indexing
num_12 = newArray[1, 0]
print("\nQ13: Element with value 12 in newArray:")
print(num_12)

Q13: Element with value 12 in newArray:
12

## Q#14: Print the numbers equal 0 and 13 of "newArray" using indexing.

In [145]:
# Q14: Print the numbers equal 0 and 13 of "newArray" using indexing
num_0 = newArray[0, 2]
num_13 = newArray[1, 1]
print("\nQ14: Elements with values 0 and 13 in newArray:")
print("Value 0:", num_0)
print("value 13:", num_13)

Q14: Elements with values 0 and 13 in newArray:
Value 0: 0
value 13: 13

## Q#15: Change the shape of "newArray" to (9,1).

In [146]:
# Change the shape of "newArray" to (9, 1)
reshaped_array = newArray.reshape(9, 1)
print("\nQ15: Reshaped Array (9,1):")
print(reshaped_array)

Q15: Reshaped Array (9,1):
[[10]
 [11]
 [ 0]
 [12]
 [13]
 [ 1]
 [14]
 [15]
 [ 2]]

## Q#16: Change the shape of "newArray" to (3,2).

In [147]:
reshaped_array1 = newArray.reshape(3, 2)
print("\nQ16: Reshaped Array (3,2):")
print(reshaped_array1)

ValueError: cannot reshape array of size 9 into shape (3,2)

We get this error because our array `newArray` has 9 elements and the required shape (3,2) only 6 elemets `2x3 =6`. So, for that we cannot reshape it.

In [148]:
# Attempt to reshape "newArray" to (3,2) and handle error
try:
    reshaped_array1 = newArray.reshape(3, 2)
    print("\nQ16: Reshaped Array (3,2):")
    print(reshaped_array1)
except ValueError as e:
    print("\nQ16: Error:")
    print("Cannot reshape array of size", newArray.size, "into shape (3,2).")

Q16: Error:
Cannot reshape array of size 9 into shape (3,2).

# Well Done 🎉